<header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Good health and a healthy mind are better in this world than all goods.</h2>
      <img  class="imglog" src="../../../assets/img/imageonline-co-whitebackgroundremoved (1).png" style="float: right">
  
    </div>
  
  </header>
  
<section class="tables">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
      <div id="pdffile">

    <h1  class="clearfix"><small><span>DATE:</span><p id="date"></p> </small> Fiches d'Information <small> <img  class="imglog1" src="../../../assets/img/imageonline-co-whitebackgroundremoved (1).png" style="float: right">
    </small></h1>
      <table >
        <thead>
            <tr> <img  [src]="imageUrl"  alt="..."  style="float: center" class="img-fluid rounded-circle"></tr><br>
          
            <tr>
            <th class="service">{{nom}}</th>
            <th class="desc">{{prenom}}</th>
            <th class="unit">{{email}}</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">{{groupesanguine}}</td>
            <td class="desc">{{adresse}}</td>
            <td class="unit">{{tel}}</td>
            
          </tr>
          <tr> <th class="service">{{sexe}}</th>
              <th class="desc">{{datenaissance}}</th>
              <th class="unit">{{antecedents}}</th>
          </tr>
        </tbody>
      </table>

    
</div>
  <div class="butpdf" >
      <button   type="button" class="btn btn-secondary" style="float: center" (click)="telecharger()">
        Telecharger PDF
      </button>
    </div>
</div>
</div>
</div>
</div>
</section>
<footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
  
        </div>
        <div class="col-sm-6 text-right">
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
      </div>
    </div>
  </footer>
