
        <!-- Page Header-->
        <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Good health and a healthy mind are better in this world than all goods.</h2>
            </div>
            
          </header>
          <br>
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink='/home'>Home</a></li>
              
              <li class="breadcrumb-item active">Ajouter un nouveau Patient</li>
            </ul>
          </div>
         <!-- table de donnes-->
         
         
              
     
            
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-lg-12"> 
              <div class="card">
                  
              </div>
        </div> 
           </div>         
        </div>
    
      
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  
                </div>
                <div class="col-sm-6 text-right">
                  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
              </div>
            </div>
          </footer>
       
          
